body {
    background-image: url("angel.jpg");
}

.logo {
    position: relative;
    left: 750px;
    border-radius: 50%;
}

.carousel-inner {
    position: relative;
    left: 250px;
}

.carousel-caption {
    position: relative;
    left: -0230px;
    top: -0125px;
    color: floralwhite;
}

.carousel-indicators {
    top: 455px;
    left: 585px;
}

.header {
    position: relative;
    left: 750px;
}

.head {
    position: relative;
    left: 850px;
}

.container {
    position: relative;
    top: 250px;
    left: 25px;
}