{% load static %}

<!DOCTYPE html>
<html lang="el">
<head>
   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EEDET47930"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EEDET47930');
</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/movie.css' %}">
  <link rel="stylesheet" href="{% static 'css/images.css' %}">
  <title>Greek subtitles</title>
  <style>
      .button {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #1b6d85;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Arial Black", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
      .button:hover {
          background: #008168;
      }
      .button:active {
          background: #006e58;
      }

      .button__text,
      .button__icon {
          display: inline-flex;
          align-items: center;
          padding: 0 24px;
          color: #fff;
          height: 100%;
      }
      .button__icon {
          font-size: 1.5em;
          background: rgba(0, 0, 0, 0.08);
      }
  </style>
</head>
<body>
<!-- Κύριο μέρος -->
 <div>
    <img src="{% static "css/Perceptron.jpg"%}" alt="logo" width="300px" height="168px" class="logo">
 </div>
<div class="header"><h1>Καλωσορίσατε στο site!</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 bg-white text-black">
        <h2 style="color:darkslateblue;">Υπότιτλοι για κατέβασμα!&#128229;</h2>
{% for posts in posts %}
    <p style="font-size: large"><b>Τίτλος: {{ posts.header }}</b></p>
    <p>
           {% if posts.image %}<img src="{{ posts.image.url }}" alt="wildcards" width="300px" height="168px"/>
           {% endif %}
    </p>
    <p style="font-size: large"><b>Περίληψη: {{ posts.text}}</b></p>
    <p style="font-size: large"><b>Ημερομηνία Προβολής: {{ posts.production_date }}</b></p>
    <p style="font-size: large"><b>Διάρκεια: {{ posts.duration }}</b></p>
    <p style="font-size: large"><b>Βαθμολογία: {{ posts.grade }}</b></p>
    <p style="font-size: large"><b>Κατέβασμα υποτίτλου:</b>
    </p>
    <button type="button" class="button">
    <a class="button__text" href="{% url 'download_cheatsheet' posts.id %}">Download</a>
    <ion-icon class="button__icon" name="cloud-download-outline"></ion-icon></button>
{% endfor %}
    </div>
    <div class="col-sm-4"><p style="font-size: larger"><b>Καλώς ήρθατε στον απόλυτο προορισμό για υπότιτλους!<br>
    Εδώ θα βρείτε μια συλλογή από υπότιτλους για ταινίες και σειρές,<br>
    για να απολαύσετε την αγαπημένη σας ψυχαγωγία χωρίς περιορισμούς.<br>
    Το εύχρηστο site επιτρέπει να αναζητήσετε<br>
    και να κατεβάσετε υπότιτλους εύκολα και γρήγορα.<br>
    Είτε είστε σινεφίλ, είτε λάτρης των σειρών και των ταινιών,<br>
    εδώ βρίσκεται ο κατάλληλος υπότιτλος για εσάς.<br>
    Εξερευνήστε τη συλλογή μου και ξεκινήστε την περιπέτεια της ψυχαγωγίας με υπότιτλους!</b><br>
    </p>
    <p style="font-size: large"><a href='page2'><h3>Παλιοί υπότιτλοι &#128336;</h3></a></p>
    <p style="font-size: large"><b>Έτοιμος για κατέβασμα!</b></p>
    <img src="{% static 'css/longlegs.jpg' %}" alt="longlegs">
    <p style="font-size: large"><b>Trailer:</b></p>
        <iframe width="580" height="400" src="https://www.youtube.com/embed/OG7wOTE8NhE">
        </iframe>
    <p style="font-size: large"><b>Σύντομα αυτές τις ημέρες</b></p>
    <img src="{% static 'css/thewayhome.jpg' %}" alt="home">
    <p style="font-size: large"><b>Trailer:</b></p>
        <iframe width="580" height="400" src="https://www.youtube.com/embed/4mkCV1wucew">
        </iframe>
    <footer>
           <p style="font-size: large"><b>Θα χαρώ πολύ να λάβω σχόλια, παρατηρήσεις ή προτάσεις στο email:</b>
           <a href="perceptronsubsforall@gmail.com"><b style="font-size: large">perceptronsubsforall@gmail.com</b></a></p>
    </footer>

    </div>
    <div class="col-sm-4"><h3 class="heading-text">Αναβάθμιση του site:</h3>
        <p style="font-size: large"><b>Έκδοση 1.0:Ρύθμιση ώστε να τραβάει το ανέβασμα των σειρών ο web browser από την βάση δεδομένων.</b></p>
        <p style="font-size: large"><b>Έκδοση 1.1:Έγιναν κάποια αλλαγές στην βάση δεδομένων.</b></p>
        <p style="font-size: large"><b>Έκδοση 1.2:Έγινε πιο όμορφο και λειτουργικό το κουμπί Download.</b></p>
        <p style="font-size: large"><b>Έκδοση 1.3:Έγιναν κάποιες αλλαγές στο carousel για να είναι πιο λειτουργικό.</b></p>
        <p style="font-size: large"><b>Έκδοση 1.4:Διορθώθηκε ένα bug του server.</b></p>
        <p style="font-size: large"><b>Έκδοση 1.5a:Σύντομα θα φτιαχτεί η δεύτερη σελίδα για να αποθηκεύονται οι παλιοί υπότιτλοι εκεί.</b></p>
        <p style="font-size: large"><b>Έκδοση 1.5b:Είναι έτοιμη η δεύτερη σελίδα που θα φιλοξενεί τους παλιούς υπότιτλους ταινιών και σειρών.</b></p>
        <p style="font-size: large"><b>Έκδοση 1.6:Είναι έτοιμη η σελίδα η οποία θα φιλοξενεί τους παλιούς υπότιτλους της σειράς Wild Cards.</b></p>
         <h2>Το τραγούδι της εβδομάδας:</h2>
             <iframe width="480" height="400" src="https://www.youtube.com/embed/vWxAi7F6otE">
             </iframe>
    </div>
  </div>
</div>










<!-- load -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>