{% load static %}


<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Wild Cards</title>
</head>

<body>
<div>
    <img src="{% static "css/Perceptron.jpg"%}" alt="logo" width="300px" height="168px" class="logo">
</div>
<div class="container">
  <div class="row">
      <div class="col-sm-6"><a href="season_1_wildcards"><p style = "font-size: large"><b>Season 1</b></p></a>
      </div>
    </div>
  </div>
</body>
</html>